* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  align-items: center;
  background:hsl(167.82deg 30% 24%);
  color: #4a4141;
  display: flex;
  font-family: Arial, sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.container {
  background-color: #5e8c93;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(201, 21, 21, 0.869);
  max-width: 400px;
  padding: 20px;
  width: 100%;
}

.container form {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
}

.container label {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.container input[type="text"] {
  border: 1px solid #3535f6;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 8px;
}

.container .differentTemp {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 14px;
}

.container select {
  background-color: #4a5244; 
  border: 1px solid #ccc;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #fff; 
  padding: 8px;
  
}

.container .subRe {
  text-align: center;
}

.container .ans {
  margin-top: 20px;
}

.container .ans div {
  color: #fafdfd; 
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#temp {
  border-radius: 5px;
  border: none;
  color: black;
  font-size: large;
  padding: 19px;
}
#tempratures1 {
  background-color: #4eb123;
  border-radius: 5px;
  color: white;
  font-size: large;
  padding: 19px;
  width: 100%;
}

#result2, #result {
  border-bottom: 2px solid greenyellow;
  border-radius: 4px;
  margin: auto;
  padding: 8px;
  width: fit-content;
}

#warning{
  margin-top: 1rem;
  color: #e1f152;
  font-size: 1.5rem;
}
